<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>About page</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum aperiam
      at aliquid vitae molestias ducimus odit hic quisquam saepe magnam, eveniet
      voluptas non quo, corporis illum, distinctio aspernatur harum libero.
    </p>
    <hr />
    <a href="/">Main</a>
    <a href="/contact">Contact</a>
  </body>
</html>
